<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:apollo="http://www.ctrip.com/schema/apollo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.ctrip.com/schema/apollo
                           http://www.ctrip.com/schema/apollo.xsd">

    <!-- 默认namespace名称为application，多个properties中存在同一个key，会选取第一个加载的key，namespace填写顺序即为加载顺序-->
    <apollo:config namespaces="application,mongo"/>

    <bean id="mqProducer" class="com.aixuexi.transformers.mq.MQProducerFactoryBean">
        <property name="environment" value="${transformers.environment}"/>
    </bean>

</beans>